<%= render(Articles::ArticleComponent.new(article: @article)) %>

<h2>Comments</h2>
<%= render(Comments::CommentComponent.with_collection(policy_scope(@article.comments))) %>

<h2>Add a comment:</h2>
<%= render(Comments::FormComponent.new(article: @article)) %>